@using LoanAppMVC.Client.LoanApiResponseDto
@using LoanAppMVC.Models
@using SharedClassLibrary
@model PaginatedList<LoanAppResponseDto>
    @{
    ViewData["Title"] = "Index";
    }

    <h1>Index</h1>
    @{
    var businessId = ViewData["businessId"];
    }
    <p>
        <a asp-action="Create" asp-route-businessId="@businessId">Create New </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Amount
                </th>
                <th>
                    PayBackInMonths
                </th>
                <th>
                    APRPercent
                </th>
                <th>
                    CreditScore
                </th>
                <th>
                    LatePaymentRate
                </th>
                <th>
                    TotalDebt
                </th>
                <th>
                    RiskRate
                </th>
                <th>
                   DateSubmitted
                </th>
                <th>
                    DateProcessed
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.list) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PayBackInMonths)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.APRPercent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LatePaymentRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalDebt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RiskRate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSubmitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateProcessed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DeleteAction" method="post" asp-route-id="@item.Id" asp-route-businessId="@businessId" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
