@using LoanAppMVC.Client.LoanApiResponseDto
@using LoanAppMVC.Models
@using SharedClassLibrary
@model PaginatedList<BusinessResponseDto>
@{
    ViewData["Title"] = "Index";
    var ownerId = ViewData["OwnerId"];
}
<h1>Index</h1>

<p>
    <a asp-action="Create" asp-route-ownerId="@ownerId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Business Code
            </th>
            <th>
                Business Name
            </th>
            <th>
                Description
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.list) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a asp-action="DeleteAction" method="post" asp-route-id="@item.Id" asp-route-ownerId="@ownerId" onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>