@using LoanAppMVC.Client.LoanApiResponseDto
@using SharedClassLibrary
@model PaginatedList<DemographicViewResponseDto>
@{
    ViewData["Title"] = "Index";
    var prevDisabled = !Model.hasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.hasNextPage ? "disabled" : "";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                State
            </th>
            <th>
                Zipcode
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.list) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zipcode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-pageNo="@Model.pageIndex">Edit</a> |
                <a asp-action="DeleteAction" method="post" asp-route-id="@item.Id" asp-route-pageNumber="@Model.pageIndex"  onclick="return confirm('Are you sure you want to delete this?')">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Index" 
    asp-route-pageNumber="1" 
    class="btn btn-default">
    First
</a>
<a asp-action="Index" 
    asp-route-pageNumber="@(Model.pageIndex - 1)" 
    class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.pageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.totalPages)"
   class="btn btn-default">
    Last
</a>
<span>Page @Model.pageIndex / @Model.totalPages</span>